.topmanu {
  margin-top: 55px;
  width: 100%;
  overflow: hidden;
  background-color: rgb(55, 194, 0);
  background-image: url("/Capture.jpg");
  z-index: -1;
 background-image:url("/images/HPAD18.jpg");
}



.topmanu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
  font-size: 17px;
}

.topmanu a:hover {
  background-color: #ddd;
  color: black;
}

.topmanu a.active {
  background-color: #4CAF50;
  color: white;
}





.logindiv {

  padding-left: 300px;
  
  float: left;
  width: 400px;
  
  
  }
  .searchmanu{

    width: 100%;
    height: 60px;
      overflow: visible;
      background-color: rgb(206, 203, 224);
      position: fixed;
      top: 0;
      
      z-index: 1
  
  }
  .bdy{

    background-image: url("/images/phones.jpg");
    min-width: 100%;
    min-height: 100%;
    background-size:cover ;
    background-position: center;
  }